/*
|-------------------------------------------------------------------------------
| Error message - 404 page
|-------------------------------------------------------------------------------
*/
.c-error-message {
  line-height: 2;
  text-align: center;
  color: $c-grayDark;
}